<!DOCTYPE HTML>
<html>
<head>
<title>produit Description</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src={{ url_for('static', filename='images/logo.png') }} /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
		<div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

				{% if not logged %}
				<li class="nav-item">
                    <a class="nav-link" href="/loginForm">Se connecter</a>
                </li>
				<li class="nav-item">
					<a class="nav-link" href="/registerationForm">Inscription</a>
				</li>

				{% else %}
				<li class="nav-item">

					<div class="dropdown">
						<button class="dropbtn">Bonjour, {{username}}</button>
						<div class="dropdown-content">
							<a href="/logout">Deconnexion</a>
						</div>
					</div>
				</li>

				{% endif %}

                <li class="nav-item active">
                    <a class="nav-link" href="/toutParcourir">Tout parcourir</a>
                </li>
                
               
                <li class="nav-item">
                    <a class="nav-link" href="/panier">
						Panier {{noOfItems}}
					</a>
                </li>
			
                
				<li class="nav-item">
                    <a class="nav-link" href="/ajout">Ajouter un produit</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="/supprimer">Supprimer un produit</a>
                </li>
            </ul>
        </div>
    </nav>
<div id="display">
	
	<div>
		<div id="produitnom">
			<h1>{{data[1]}}</h1>
		</div>
		<img src={{url_for('static', filename='uploads/'+data[4]) }} id="produitImage"/>
	</div>

	<div id="detailProduit">
		<h2>Details</h2>
		<table id="descriptionTable">
			<tr>
				<td>nom</td>
				<td>{{data[1]}}</td>
			</tr>
			<tr>
				<td>prix</td>
				<td>${{data[2]}}</td>
			</tr>
		</table>
		<h2>Description</h2>
		<p>{{data[3]}}</p>
		<div id="addTopanier">
			<a href="/ajoutPanier?produitId={{request.args.get('produitId')}}">Ajouter au panier</a>
		</div>
	</div>
	
</div>
</body>
</html>

